# Copyright (C) 2024  ANSSI
# SPDX-License-Identifier: CC0-1.0
input_pcaps/*
suricata/output/pcaps
suricata/output/*.log
suricata/output/*.db
suricata/output/*.sqlar
suricata/output/*-shm
suricata/output/*-wal
suricata/target
.env

# Python
__pycache__
.ruff_cache
